[Desktop Entry]
Name=LouvorJA - PIANO
Comment=Aplicativo desktop para gerenciamento de culto
Exec=louvorja-piano %U
Icon=com.pianolouvorja.piano
Type=Application
Categories=AudioVideo;Audio;Player;
MimeType=x-scheme-handler/louvorja-piano;
StartupNotify=true
StartupWMClass=LouvorJA - PIANO
